$bg-color:  rgba(3, 4, 255, 0.5);
$sass-pink: #c69;
$blue: #05e; 
$yellow: #f7e708f8; /* цвет */
$margin: 16px; /* отступ */
$fontSize: 14px; /* размер текста */


body {
    background: $bg-color;
}

h1 {
    // color: rgba(0, 0, 0, 0.1);
    color: $sass-pink;
    color: hsl(0, 100%, 50%);
    color: hsl($hue: 0, $saturation: 100%, $lightness: 50%);

    background: hsl(300, 100%, 100%);
  }

.div{
    background: $sass-pink;
    padding: $margin / 5;
    margin: $margin / 5;
    color: mix(black, $blue, percentage(5/7));  
  }

.p1{
    padding: $margin / 2;
    margin: $margin / 2;
    background: hsl(300, 100%, 100%);
    color: mix(rgb(212, 17, 66), $blue, percentage(5/7)); 
}
.border-my {
    border-color: $yellow !important;
    border-width: $margin / 4;
    border-style: solid;
  }

.content-d {
    border: 3px solid blue($blue); /* синий бордюр */
    color: darken($blue, 20%); /* затемнение цвета на 20% */       
}

.content-l {
    border: 3px solid $blue; /* синий бордюр */
    color: lighten($blue, 20%); /* Осветление цвета на 20% */      
}
 
$grid-width: 40px;
$gutter-width: 10px;

@function grid-width($n) {
  @return $n * $grid-width + ($n - 1) * $gutter-width;
}

.sidebar { width: grid-width(5); }

nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }


li { display: inline-block; }

      a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        font-weight: bold;

        &:hover { text-decoration: underline; }
        body.firefox & { font-weight: normal; }

      }
}


main {
    color: black;
    a {
      font-weight: bold;
      &:hover { color: red; }
    }
   }

.error {
    border: 1px #f00;
    background-color: #fdd;
  }

.seriousError {
    @extend .error;
    border-width: 3px;
}


.sidebar {
   width: 300px;
   @media screen and (orientation: landscape) {
       width: 500px;
   }
}

@media screen {
    .sidebar {
      @media (orientation: landscape) {
        width: 500px;
      } 
    }
}
   

$media: screen;
$feature: -webkit-min-device-pixel-ratio;

$value: 1.5;

@media #{$media} and ($feature: $value) {
 .sidebar {
   width: 500px;
 } 
}
      

@mixin large-text {
    font: {
      family: Arial;
      size: 20px;
      weight: bold;
    }
    color: #ff0000;
}

.page-title {
    @include large-text;
    padding: 4px;
    margin-top: 10px;
   }

@mixin clearfix {  /*Миксины могут также содержать селекторы со свойствами. */
    display: inline-block;
    &:after { /*Селекторы могут содержать ссылки на родителя.*/
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; 
    }
    * html & { height: 1px } /* ссылки на родителя.*/
}

.page-block {
    @include clearfix;
}

@mixin silly-links {
    a {
      color: blue;
      background-color: red;
    }
   }

@include silly-links;

@mixin sexy-border($color, $width) {
    border: {
      color: $color;
      width: $width;
      style: dashed;
    }
  }

p { 
    @include sexy-border(blue, 1in); 
    display: grid;    
}
// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #167F92;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {
  
  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;  
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;
  
    tr {
      border: $cell-border; 
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }  
    }
  
    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;  
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after {display: none;}
        }
      }
    }
  
    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child { 
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }
  
    th, td {
      text-align: left;
      margin: .5em 1em;  
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }  
  }    
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

// General styles

body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  span {color: #167F92;}
}

@import url(https://fonts.googleapis.com/css?family=Merriweather);
$red: #e74c3c;

*, 
*:before, 
*:after {
   box-sizing:border-box; 
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h1 {
   text-align: center;
   color: #a8a8a8;
   text-shadow:1px 1px 0 rgba(white, 1);
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     border-radius: 8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow: 0 1px 1px rgba(black, 0.1);
     resize: none;
    
    &:focus {
       box-shadow: 0 0px 2px rgba($red, 1)!important;
    }
  }
  
  #input-submit {
     color: white; 
     background: $red;
     cursor: pointer;
    
    &:hover {
       box-shadow:0 1px 1px 1px rgba(#aaa, 0.6); 
    }
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
