@charset "UTF-8";
/* цвет */
/* отступ */
/* размер текста */
@import url(https://fonts.googleapis.com/css?family=Merriweather);
body {
  background: rgba(3, 4, 255, 0.5); }

h1 {
  color: #c69;
  color: red;
  color: red;
  background: white; }

.div {
  background: #c69;
  padding: 3.2px;
  margin: 3.2px;
  color: #001844; }

.p1 {
  padding: 8px;
  margin: 8px;
  background: white;
  color: #972473; }

.border-my {
  border-color: #f7e708f8 !important;
  border-width: 4px;
  border-style: solid; }

.content-d {
  border: 3px solid 238;
  /* синий бордюр */
  color: #003188;
  /* затемнение цвета на 20% */ }

.content-l {
  border: 3px solid #05e;
  /* синий бордюр */
  color: #5592ff;
  /* Осветление цвета на 20% */ }

.sidebar {
  width: 240px; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block; }

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: bold; }
  nav a:hover {
    text-decoration: underline; }
  body.firefox nav a {
    font-weight: normal; }

main {
  color: black; }
  main a {
    font-weight: bold; }
    main a:hover {
      color: red; }

.error, .seriousError {
  border: 1px #f00;
  background-color: #fdd; }

.seriousError {
  border-width: 3px; }

.sidebar {
  width: 300px; }
  @media screen and (orientation: landscape) {
    .sidebar {
      width: 500px; } }

@media screen and (orientation: landscape) {
  .sidebar {
    width: 500px; } }

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sidebar {
    width: 500px; } }

.page-title {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
  padding: 4px;
  margin-top: 10px; }

.page-block {
  /*Миксины могут также содержать селекторы со свойствами. */
  display: inline-block;
  /* ссылки на родителя.*/ }
  .page-block:after {
    /*Селекторы могут содержать ссылки на родителя.*/
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .page-block {
    height: 1px; }

a {
  color: blue;
  background-color: red; }

p {
  border-color: blue;
  border-width: 1in;
  border-style: dashed;
  display: grid; }

.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92; }
  .responstable tr {
    border: 1px solid #D9E4E6; }
    .responstable tr:nth-child(odd) {
      background-color: #EAF3F3; }
  .responstable th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em; }
    .responstable th:first-child {
      display: table-cell;
      text-align: center; }
    .responstable th:nth-child(2) {
      display: table-cell; }
      .responstable th:nth-child(2) span {
        display: none; }
      .responstable th:nth-child(2):after {
        content: attr(data-th); }
    @media (min-width: 480px) {
      .responstable th:nth-child(2) span {
        display: block; }
      .responstable th:nth-child(2):after {
        display: none; } }
  .responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em; }
    .responstable td:first-child {
      display: table-cell;
      text-align: center;
      border-right: 1px solid #D9E4E6; }
    @media (min-width: 480px) {
      .responstable td {
        border: 1px solid #D9E4E6; } }
  .responstable th, .responstable td {
    text-align: left;
    margin: .5em 1em; }
    @media (min-width: 480px) {
      .responstable th, .responstable td {
        display: table-cell;
        padding: 1em; } }

body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2; }

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457; }
  h1 span {
    color: #167F92; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em; }

h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white; }

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto; }
  form input, form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none; }
    form input:focus, form textarea:focus {
      box-shadow: 0 0px 2px #e74c3c !important; }
  form #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer; }
    form #input-submit:hover {
      box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6); }
  form textarea {
    height: 126px; }

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em; }

.right {
  width: 50%; }

.left {
  margin-right: 2%; }

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0; } }

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }
